.App {
  display: grid;
  grid-template-columns: 200px auto;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 20px;
}

.left_block, .right_block {
  color: white;
}

.title {
  margin-bottom: 20px;
  border-radius: 6px;
  color: white!important;
  background-color:#7dbcea;
  padding: 3px 8px;
}

.content {
  height: calc(100vh - 126px);
  overflow-y: scroll;
  margin-bottom: 20px;
}

::-webkit-scrollbar {
  display: none;
}

/* media queries */
@media (max-width: 750px) {
  .App {
    grid-template-columns: 20% auto;
  }
}

@media (max-width: 400px) {
  .left_block  {
    display: none;
  }
  .App {
    grid-template-columns: 1fr;
  }
}



